.top-header {
  background-color: #3a5f70; }
  .top-header nav {
    margin: 0px !important; }
  .top-header .navbar .container-fluid ul li {
    margin-right: 10px; }
  .top-header .navbar .container-fluid ul li a {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 10px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) {
    border-radius: 4px;
    height: 29px;
    margin-top: 8px;
    background-color: #f9ab1b; }
  .top-header .navbar .container-fluid ul li:nth-child(3) div {
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 70px;
    white-space: nowrap;
    overflow: hidden; }
  .top-header .navbar .container-fluid ul li:nth-child(3) span {
    margin-right: 6px;
    top: -9px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) span.next {
    position: absolute;
    top: -6px;
    right: 15px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .top-header .navbar .container-fluid ul li:nth-child(3) div {
    position: relative;
    top: -8px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) a {
    opacity: 0.8;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000; }

.bottom-header {
  background-color: #2d4a57; }
  .bottom-header nav {
    margin: 0px !important; }
  .bottom-header .navbar .container-fluid ul li a {
    opacity: 0.7;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid ul li:nth-child(1) a {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid .navbar-right li a {
    opacity: 1;
    color: white; }
  .bottom-header .navbar .container-fluid .navbar-header a {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }

.accordian-menu {
  position: relative;
  display: inline-block;
  width: 260px;
  background-image: -webkit-linear-gradient(282deg, #3a5f70, #243542);
  background-image: -o-linear-gradient(282deg, #3a5f70, #243542);
  background-image: linear-gradient(168deg, #3a5f70, #243542); }
  .accordian-menu .search input {
    width: 229px;
    height: 40px;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: 16px;
    margin-top: 22px;
    padding: 15px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: #ffffff; }
  .accordian-menu .in-play {
    position: relative; }
    .accordian-menu .in-play .badge-play {
      position: absolute;
      top: -3px;
      left: 196px; }
      .accordian-menu .in-play .badge-play badge {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500; }
    .accordian-menu .in-play h3 {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
      .accordian-menu .in-play h3 span {
        margin-left: 12px;
        margin-right: 8px; }
  .accordian-menu .pinned {
    position: relative; }
    .accordian-menu .pinned .badge-pinned {
      position: absolute;
      top: -3px;
      left: 196px; }
      .accordian-menu .pinned .badge-pinned badge {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500; }
    .accordian-menu .pinned h3 {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
      .accordian-menu .pinned h3 span {
        margin-left: 12px;
        margin-right: 8px; }
  .accordian-menu .market-head h3 {
    opacity: 0.7;
    font-family: WorkSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 19px; }
  .accordian-menu hr {
    opacity: .2; }
  .accordian-menu .game-option .games li {
    display: block;
    font-family: WorkSans;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-left: 12px; }
    .accordian-menu .game-option .games li img {
      margin-right: 8px; }
    .accordian-menu .game-option .games li a {
      color: white; }
    .accordian-menu .game-option .games li badge {
      position: relative;
      top: -1px;
      left: 46%;
      width: 51px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      font-family: WorkSans;
      font-size: 12px;
      font-weight: 500; }

.container-main {
  width: calc(100% - 264px);
  display: inline-block;
  background-color: #f2f3f7;
  vertical-align: top; }
  .container-main .navbar .container-fluid ul li {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
    .container-main .navbar .container-fluid ul li a {
      color: white; }
  .container-main .navbar .container-fluid ul li:nth-child(1) a {
    border-radius: 20px !important;
    background-color: #496d7d !important;
    color: white !important; }
  .container-main .navbar-default {
    background: white;
    width: 80%; }
  .container-main .in-play-tag {
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #21394b; }
  .container-main .flex-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .container-main .row h5 {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .container-main .col-sm-4 {
    background: white;
    padding: 0;
    /* margin: 6px; */
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 20px; }
    .container-main .col-sm-4 hr {
      margin-top: 15px;
      margin-bottom: 15px; }
    .container-main .col-sm-4 .games-heading {
      color: white;
      background: #3a5f70;
      border-radius: 20px 20px 0px 0px; }
      .container-main .col-sm-4 .games-heading .heading {
        display: inline-block;
        width: 58%; }
        .container-main .col-sm-4 .games-heading .heading span img {
          height: 16px;
          width: 16px;
          margin-left: 14px;
          margin-right: 4px;
          /* padding-top: 13px; */
          margin-top: 13px;
          margin-bottom: 11px; }
      .container-main .col-sm-4 .games-heading .rating-1 {
        display: inline-block;
        width: 9%;
        text-align: center; }
      .container-main .col-sm-4 .games-heading .rating-2 {
        display: inline-block;
        width: 9%;
        text-align: center; }
      .container-main .col-sm-4 .games-heading .rating-x {
        display: inline-block;
        width: 15%;
        text-align: center; }
  .container-main .col-sm-4 .games-heading-row-1 .teams {
    display: inline-block;
    width: 38%; }
    .container-main .col-sm-4 .games-heading-row-1 .teams .team-a {
      margin-top: 14px;
      margin-bottom: 6px; }
  .container-main .col-sm-4 .games-heading-row-1 .team-score {
    display: inline-block;
    width: 16%; }
    .container-main .col-sm-4 .games-heading-row-1 .team-score .score-a {
      margin-top: 14px;
      margin-bottom: 6px; }
  .container-main .col-sm-4 .games-heading-row-1 .teams-rating-1, .container-main .col-sm-4 .games-heading-row-1 .teams-rating-x, .container-main .col-sm-4 .games-heading-row-1 .teams-rating-2 {
    display: inline-block;
    width: 10%;
    display: inline-block;
    width: 13%;
    margin-bottom: 3px;
    vertical-align: top;
    margin-top: 11px;
    /* background: red; */
    border-radius: 2px;
    background-color: #eaebef;
    height: 48px;
    text-align: center;
    padding: 12px 5px; }
