// font size
$-size-medium:        floor(($font-size-base * 1.1428)) !default; // ~16px

// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$ultrabold: 800;

// base  url
$font-url: '../fonts';
$img-url: '../img';


// font-family
$primary-regular: "GothamMedium", sans-serif;

@mixin primary-regular() {
  font-family: $primary-regular;
}
@mixin primary-bold() {
  font-family: $primary-regular;
  font-weight: $bold;
}
@mixin primary-italic() {
  font-family: $primary-regular;
  font-weight: $italic;
}
@mixin primary-semibold() {
  font-family: $primary-regular;
  font-weight: $semibold;
}
@mixin primary-light() {
  font-family: $primary-regular;
  font-weight: $thin;
}
@mixin primary-italic-bold() {
  font-family: $primary-regular;
  font-weight: $thin;
  font-style: italic;
}

// font color
$color-text: $text-color;
$brand-secondary : $brand-success;
$color-text-secondary: $brand-secondary;
@mixin color-text($alpha) {
  color: rgba($color-text, $alpha);
}
@mixin color-text-secondary($alpha) {
  color: rgba($color-text-secondary, $alpha);
}
// border-color
$color-border: rgba($brand-primary, 0.6);

// background-color
@mixin background-primary($alpha) {
  background: rgba($brand-primary, $alpha);
}

@mixin background-secondary($alpha) {
  background: rgba($brand-secondary, $alpha);
}

// social media colors
$color-facebook: #3a5b96;
$color-linkedin: #0175b2;
$color-youtube: #e62d28;
$color-instagram: #517da3;
$color-twitter: #53acf2;
$color-google-plus: #dd4b3e;
$color-pinterest: #bd081b;


// media variable small devices
$screen-mobile-sm: 413px;
$screen-mobile-xs: 374px;


// gridflex variables
$grid-padding-width:              10px !default;
$grid-responsive-sm-break:        767px !default;  // smaller than landscape phone
$grid-responsive-md-break:        992px !default;  // smaller than portrait tablet
$grid-responsive-lg-break:        1023px !default; // smaller than landscape tablet
