body {
  font-family: $primary-regular;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
}
header,footer,section {
  display: block;
}
ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}

a {
  color: rgba($color-text,0.6);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

input, button , textarea {
  &:focus, &:active {
    outline: 0px !important;
    box-shadow: none !important;
  }
}



.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
   background: #f8f9fa;
   opacity: 1;
}
