/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url("../fonts/BrandonGrotesque-Bold.eot");
  src: url("../fonts/BrandonGrotesque-Bold.eot") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Bold.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque-Bold.ttf") format("truetype"), url("../fonts/BrandonGrotesque-Bold.svg") format("svg"); }

body {
  font-family: "GothamMedium", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  margin: 0;
  overflow-x: hidden;
  width: 100%; }

header, footer, section {
  display: block; }

ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px; }
  ul li {
    display: inline-block; }
    ul li a {
      text-decoration: none; }

a {
  color: rgba(51, 51, 51, 0.6); }
  a:hover, a:active, a:focus {
    color: #337ab7;
    text-decoration: none; }

input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background: #f8f9fa;
  opacity: 1; }

ul.list-block {
  list-style: none;
  padding-left: 0; }
  ul.list-block li {
    display: block; }

.padding-0 {
  padding: 0px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.margin-0 {
  margin: 0px !important; }

.margin-right-0 {
  margin-right: 0px !important; }

.margin-left-0 {
  margin-left: 0px !important; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.border-0 {
  border: 0px !important; }

.border-top-0 {
  border-top: 0px !important; }

.border-bottom-0 {
  border-bottom: 0px !important; }

.border-left-0 {
  border-left: 0px !important; }

.border-right-0 {
  border-right: 0px !important; }

.padding-5 {
  padding: 5px !important; }

.padding-right-5 {
  padding-right: 5px !important; }

.padding-left-5 {
  padding-left: 5px !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.padding-bottom-5 {
  padding-bottom: 5px !important; }

.margin-5 {
  margin: 5px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.margin-left-5 {
  margin-left: 5px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.border-5 {
  border: 5px !important; }

.border-top-5 {
  border-top: 5px !important; }

.border-bottom-5 {
  border-bottom: 5px !important; }

.border-left-5 {
  border-left: 5px !important; }

.border-right-5 {
  border-right: 5px !important; }

.padding-10 {
  padding: 10px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.padding-left-10 {
  padding-left: 10px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.margin-10 {
  margin: 10px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.border-10 {
  border: 10px !important; }

.border-top-10 {
  border-top: 10px !important; }

.border-bottom-10 {
  border-bottom: 10px !important; }

.border-left-10 {
  border-left: 10px !important; }

.border-right-10 {
  border-right: 10px !important; }

.padding-15 {
  padding: 15px !important; }

.padding-right-15 {
  padding-right: 15px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.margin-15 {
  margin: 15px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.border-15 {
  border: 15px !important; }

.border-top-15 {
  border-top: 15px !important; }

.border-bottom-15 {
  border-bottom: 15px !important; }

.border-left-15 {
  border-left: 15px !important; }

.border-right-15 {
  border-right: 15px !important; }

.box-shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

/*
	App Sprite
--------------------------- */
/* ----- Search bar----- */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?i02qun");
  src: url("../fonts/icomoon/icomoon.eot?i02qun#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?i02qun") format("truetype"), url("../fonts/icomoon/icomoon.woff?i02qun") format("woff"), url("../fonts/icomoon/icomoon.svg?i02qun#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ion-"], [class*=" ion-"] {
  display: inline-block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ion-alert:before {
  content: "\e900"; }

.ion-alert-circled:before {
  content: "\e901"; }

.ion-android-add:before {
  content: "\e902"; }

.ion-android-add-circle:before {
  content: "\e903"; }

.ion-android-alarm-clock:before {
  content: "\e904"; }

.ion-android-alert:before {
  content: "\e905"; }

.ion-android-apps:before {
  content: "\e906"; }

.ion-android-archive:before {
  content: "\e907"; }

.ion-android-arrow-back:before {
  content: "\e908"; }

.ion-android-arrow-down:before {
  content: "\e909"; }

.ion-android-arrow-dropdown:before {
  content: "\e90a"; }

.ion-android-arrow-dropdown-circle:before {
  content: "\e90b"; }

.ion-android-arrow-dropleft:before {
  content: "\e90c"; }

.ion-android-arrow-dropleft-circle:before {
  content: "\e90d"; }

.ion-android-arrow-dropright:before {
  content: "\e90e"; }

.ion-android-arrow-dropright-circle:before {
  content: "\e90f"; }

.ion-android-arrow-dropup:before {
  content: "\e910"; }

.ion-android-arrow-dropup-circle:before {
  content: "\e911"; }

.ion-android-arrow-forward:before {
  content: "\e912"; }

.ion-android-arrow-up:before {
  content: "\e913"; }

.ion-android-attach:before {
  content: "\e914"; }

.ion-android-bar:before {
  content: "\e915"; }

.ion-android-bicycle:before {
  content: "\e916"; }

.ion-android-boat:before {
  content: "\e917"; }

.ion-android-bookmark:before {
  content: "\e918"; }

.ion-android-bulb:before {
  content: "\e919"; }

.ion-android-bus:before {
  content: "\e91a"; }

.ion-android-calendar:before {
  content: "\e91b"; }

.ion-android-call:before {
  content: "\e91c"; }

.ion-android-camera:before {
  content: "\e91d"; }

.ion-android-cancel:before {
  content: "\e91e"; }

.ion-android-car:before {
  content: "\e91f"; }

.ion-android-cart:before {
  content: "\e920"; }

.ion-android-chat:before {
  content: "\e921"; }

.ion-android-checkbox:before {
  content: "\e922"; }

.ion-android-checkbox-blank:before {
  content: "\e923"; }

.ion-android-checkbox-outline:before {
  content: "\e924"; }

.ion-android-checkbox-outline-blank:before {
  content: "\e925"; }

.ion-android-checkmark-circle:before {
  content: "\e926"; }

.ion-android-clipboard:before {
  content: "\e927"; }

.ion-android-close:before {
  content: "\e928"; }

.ion-android-cloud:before {
  content: "\e929"; }

.ion-android-cloud-circle:before {
  content: "\e92a"; }

.ion-android-cloud-done:before {
  content: "\e92b"; }

.ion-android-cloud-outline:before {
  content: "\e92c"; }

.ion-android-color-palette:before {
  content: "\e92d"; }

.ion-android-compass:before {
  content: "\e92e"; }

.ion-android-contact:before {
  content: "\e92f"; }

.ion-android-contacts:before {
  content: "\e930"; }

.ion-android-contract:before {
  content: "\e931"; }

.ion-android-create:before {
  content: "\e932"; }

.ion-android-delete:before {
  content: "\e933"; }

.ion-android-desktop:before {
  content: "\e934"; }

.ion-android-document:before {
  content: "\e935"; }

.ion-android-done:before {
  content: "\e936"; }

.ion-android-done-all:before {
  content: "\e937"; }

.ion-android-download:before {
  content: "\e938"; }

.ion-android-drafts:before {
  content: "\e939"; }

.ion-android-exit:before {
  content: "\e93a"; }

.ion-android-expand:before {
  content: "\e93b"; }

.ion-android-favorite:before {
  content: "\e93c"; }

.ion-android-favorite-outline:before {
  content: "\e93d"; }

.ion-android-film:before {
  content: "\e93e"; }

.ion-android-folder:before {
  content: "\e93f"; }

.ion-android-folder-open:before {
  content: "\e940"; }

.ion-android-funnel:before {
  content: "\e941"; }

.ion-android-globe:before {
  content: "\e942"; }

.ion-android-hand:before {
  content: "\e943"; }

.ion-android-hangout:before {
  content: "\e944"; }

.ion-android-happy:before {
  content: "\e945"; }

.ion-android-home:before {
  content: "\e946"; }

.ion-android-image:before {
  content: "\e947"; }

.ion-android-laptop:before {
  content: "\e948"; }

.ion-android-list:before {
  content: "\e949"; }

.ion-android-locate:before {
  content: "\e94a"; }

.ion-android-lock:before {
  content: "\e94b"; }

.ion-android-mail:before {
  content: "\e94c"; }

.ion-android-map:before {
  content: "\e94d"; }

.ion-android-menu:before {
  content: "\e94e"; }

.ion-android-microphone:before {
  content: "\e94f"; }

.ion-android-microphone-off:before {
  content: "\e950"; }

.ion-android-more-horizontal:before {
  content: "\e951"; }

.ion-android-more-vertical:before {
  content: "\e952"; }

.ion-android-navigate:before {
  content: "\e953"; }

.ion-android-notifications:before {
  content: "\e954"; }

.ion-android-notifications-none:before {
  content: "\e955"; }

.ion-android-notifications-off:before {
  content: "\e956"; }

.ion-android-open:before {
  content: "\e957"; }

.ion-android-options:before {
  content: "\e958"; }

.ion-android-people:before {
  content: "\e959"; }

.ion-android-person:before {
  content: "\e95a"; }

.ion-android-person-add:before {
  content: "\e95b"; }

.ion-android-phone-landscape:before {
  content: "\e95c"; }

.ion-android-phone-portrait:before {
  content: "\e95d"; }

.ion-android-pin:before {
  content: "\e95e"; }

.ion-android-plane:before {
  content: "\e95f"; }

.ion-android-playstore:before {
  content: "\e960"; }

.ion-android-print:before {
  content: "\e961"; }

.ion-android-radio-button-off:before {
  content: "\e962"; }

.ion-android-radio-button-on:before {
  content: "\e963"; }

.ion-android-refresh:before {
  content: "\e964"; }

.ion-android-remove:before {
  content: "\e965"; }

.ion-android-remove-circle:before {
  content: "\e966"; }

.ion-android-restaurant:before {
  content: "\e967"; }

.ion-android-sad:before {
  content: "\e968"; }

.ion-android-search:before {
  content: "\e969"; }

.ion-android-send:before {
  content: "\e96a"; }

.ion-android-settings:before {
  content: "\e96b"; }

.ion-android-share:before {
  content: "\e96c"; }

.ion-android-share-alt:before {
  content: "\e96d"; }

.ion-android-star:before {
  content: "\e96e"; }

.ion-android-star-half:before {
  content: "\e96f"; }

.ion-android-star-outline:before {
  content: "\e970"; }

.ion-android-stopwatch:before {
  content: "\e971"; }

.ion-android-subway:before {
  content: "\e972"; }

.ion-android-sunny:before {
  content: "\e973"; }

.ion-android-sync:before {
  content: "\e974"; }

.ion-android-textsms:before {
  content: "\e975"; }

.ion-android-time:before {
  content: "\e976"; }

.ion-android-train:before {
  content: "\e977"; }

.ion-android-unlock:before {
  content: "\e978"; }

.ion-android-upload:before {
  content: "\e979"; }

.ion-android-volume-down:before {
  content: "\e97a"; }

.ion-android-volume-mute:before {
  content: "\e97b"; }

.ion-android-volume-off:before {
  content: "\e97c"; }

.ion-android-volume-up:before {
  content: "\e97d"; }

.ion-android-walk:before {
  content: "\e97e"; }

.ion-android-warning:before {
  content: "\e97f"; }

.ion-android-watch:before {
  content: "\e980"; }

.ion-android-wifi:before {
  content: "\e981"; }

.ion-aperture:before {
  content: "\e982"; }

.ion-archive:before {
  content: "\e983"; }

.ion-arrow-down-a:before {
  content: "\e984"; }

.ion-arrow-down-b:before {
  content: "\e985"; }

.ion-arrow-down-c:before {
  content: "\e986"; }

.ion-arrow-expand:before {
  content: "\e987"; }

.ion-arrow-graph-down-left:before {
  content: "\e988"; }

.ion-arrow-graph-down-right:before {
  content: "\e989"; }

.ion-arrow-graph-up-left:before {
  content: "\e98a"; }

.ion-arrow-graph-up-right:before {
  content: "\e98b"; }

.ion-arrow-left-a:before {
  content: "\e98c"; }

.ion-arrow-left-b:before {
  content: "\e98d"; }

.ion-arrow-left-c:before {
  content: "\e98e"; }

.ion-arrow-move:before {
  content: "\e98f"; }

.ion-arrow-resize:before {
  content: "\e990"; }

.ion-arrow-return-left:before {
  content: "\e991"; }

.ion-arrow-return-right:before {
  content: "\e992"; }

.ion-arrow-right-a:before {
  content: "\e993"; }

.ion-arrow-right-b:before {
  content: "\e994"; }

.ion-arrow-right-c:before {
  content: "\e995"; }

.ion-arrow-shrink:before {
  content: "\e996"; }

.ion-arrow-swap:before {
  content: "\e997"; }

.ion-arrow-up-a:before {
  content: "\e998"; }

.ion-arrow-up-b:before {
  content: "\e999"; }

.ion-arrow-up-c:before {
  content: "\e99a"; }

.ion-asterisk:before {
  content: "\e99b"; }

.ion-at:before {
  content: "\e99c"; }

.ion-backspace:before {
  content: "\e99d"; }

.ion-backspace-outline:before {
  content: "\e99e"; }

.ion-bag:before {
  content: "\e99f"; }

.ion-battery-charging:before {
  content: "\e9a0"; }

.ion-battery-empty:before {
  content: "\e9a1"; }

.ion-battery-full:before {
  content: "\e9a2"; }

.ion-battery-half:before {
  content: "\e9a3"; }

.ion-battery-low:before {
  content: "\e9a4"; }

.ion-beaker:before {
  content: "\e9a5"; }

.ion-beer:before {
  content: "\e9a6"; }

.ion-bluetooth:before {
  content: "\e9a7"; }

.ion-bonfire:before {
  content: "\e9a8"; }

.ion-bookmark:before {
  content: "\e9a9"; }

.ion-bowtie:before {
  content: "\e9aa"; }

.ion-briefcase:before {
  content: "\e9ab"; }

.ion-bug:before {
  content: "\e9ac"; }

.ion-calculator:before {
  content: "\e9ad"; }

.ion-calendar:before {
  content: "\e9ae"; }

.ion-camera:before {
  content: "\e9af"; }

.ion-card:before {
  content: "\e9b0"; }

.ion-cash:before {
  content: "\e9b1"; }

.ion-chatbox:before {
  content: "\e9b2"; }

.ion-chatboxes:before {
  content: "\e9b3"; }

.ion-chatbox-working:before {
  content: "\e9b4"; }

.ion-chatbubble:before {
  content: "\e9b5"; }

.ion-chatbubbles:before {
  content: "\e9b6"; }

.ion-chatbubble-working:before {
  content: "\e9b7"; }

.ion-checkmark:before {
  content: "\e9b8"; }

.ion-checkmark-circled:before {
  content: "\e9b9"; }

.ion-checkmark-round:before {
  content: "\e9ba"; }

.ion-chevron-down:before {
  content: "\e9bb"; }

.ion-chevron-left:before {
  content: "\e9bc"; }

.ion-chevron-right:before {
  content: "\e9bd"; }

.ion-chevron-up:before {
  content: "\e9be"; }

.ion-clipboard:before {
  content: "\e9bf"; }

.ion-clock:before {
  content: "\e9c0"; }

.ion-close:before {
  content: "\e9c1"; }

.ion-close-circled:before {
  content: "\e9c2"; }

.ion-closed-captioning:before {
  content: "\e9c3"; }

.ion-close-round:before {
  content: "\e9c4"; }

.ion-cloud:before {
  content: "\e9c5"; }

.ion-code:before {
  content: "\e9c6"; }

.ion-code-download:before {
  content: "\e9c7"; }

.ion-code-working:before {
  content: "\e9c8"; }

.ion-coffee:before {
  content: "\e9c9"; }

.ion-compass:before {
  content: "\e9ca"; }

.ion-compose:before {
  content: "\e9cb"; }

.ion-connection-bars:before {
  content: "\e9cc"; }

.ion-contrast:before {
  content: "\e9cd"; }

.ion-crop:before {
  content: "\e9ce"; }

.ion-cube:before {
  content: "\e9cf"; }

.ion-disc:before {
  content: "\e9d0"; }

.ion-document:before {
  content: "\e9d1"; }

.ion-document-text:before {
  content: "\e9d2"; }

.ion-drag:before {
  content: "\e9d3"; }

.ion-earth:before {
  content: "\e9d4"; }

.ion-easel:before {
  content: "\e9d5"; }

.ion-edit:before {
  content: "\e9d6"; }

.ion-egg:before {
  content: "\e9d7"; }

.ion-eject:before {
  content: "\e9d8"; }

.ion-email:before {
  content: "\e9d9"; }

.ion-email-unread:before {
  content: "\e9da"; }

.ion-erlenmeyer-flask:before {
  content: "\e9db"; }

.ion-erlenmeyer-flask-bubbles:before {
  content: "\e9dc"; }

.ion-eye:before {
  content: "\e9dd"; }

.ion-eye-disabled:before {
  content: "\e9de"; }

.ion-female:before {
  content: "\e9df"; }

.ion-filing:before {
  content: "\e9e0"; }

.ion-film-marker:before {
  content: "\e9e1"; }

.ion-fireball:before {
  content: "\e9e2"; }

.ion-flag:before {
  content: "\e9e3"; }

.ion-flame:before {
  content: "\e9e4"; }

.ion-flash:before {
  content: "\e9e5"; }

.ion-flash-off:before {
  content: "\e9e6"; }

.ion-folder:before {
  content: "\e9e7"; }

.ion-fork:before {
  content: "\e9e8"; }

.ion-fork-repo:before {
  content: "\e9e9"; }

.ion-forward:before {
  content: "\e9ea"; }

.ion-funnel:before {
  content: "\e9eb"; }

.ion-gear-a:before {
  content: "\e9ec"; }

.ion-gear-b:before {
  content: "\e9ed"; }

.ion-grid:before {
  content: "\e9ee"; }

.ion-hammer:before {
  content: "\e9ef"; }

.ion-happy:before {
  content: "\e9f0"; }

.ion-happy-outline:before {
  content: "\e9f1"; }

.ion-headphone:before {
  content: "\e9f2"; }

.ion-heart:before {
  content: "\e9f3"; }

.ion-heart-broken:before {
  content: "\e9f4"; }

.ion-help:before {
  content: "\e9f5"; }

.ion-help-buoy:before {
  content: "\e9f6"; }

.ion-help-circled:before {
  content: "\e9f7"; }

.ion-home:before {
  content: "\e9f8"; }

.ion-icecream:before {
  content: "\e9f9"; }

.ion-image:before {
  content: "\e9fa"; }

.ion-images:before {
  content: "\e9fb"; }

.ion-information:before {
  content: "\e9fc"; }

.ion-information-circled:before {
  content: "\e9fd"; }

.ion-ionic:before {
  content: "\e9fe"; }

.ion-ios-alarm:before {
  content: "\e9ff"; }

.ion-ios-alarm-outline:before {
  content: "\ea00"; }

.ion-ios-albums:before {
  content: "\ea01"; }

.ion-ios-albums-outline:before {
  content: "\ea02"; }

.ion-ios-americanfootball:before {
  content: "\ea03"; }

.ion-ios-americanfootball-outline:before {
  content: "\ea04"; }

.ion-ios-analytics:before {
  content: "\ea05"; }

.ion-ios-analytics-outline:before {
  content: "\ea06"; }

.ion-ios-arrow-back:before {
  content: "\ea07"; }

.ion-ios-arrow-down:before {
  content: "\ea08"; }

.ion-ios-arrow-forward:before {
  content: "\ea09"; }

.ion-ios-arrow-left:before {
  content: "\ea0a"; }

.ion-ios-arrow-right:before {
  content: "\ea0b"; }

.ion-ios-arrow-thin-down:before {
  content: "\ea0c"; }

.ion-ios-arrow-thin-left:before {
  content: "\ea0d"; }

.ion-ios-arrow-thin-right:before {
  content: "\ea0e"; }

.ion-ios-arrow-thin-up:before {
  content: "\ea0f"; }

.ion-ios-arrow-up:before {
  content: "\ea10"; }

.ion-ios-at:before {
  content: "\ea11"; }

.ion-ios-at-outline:before {
  content: "\ea12"; }

.ion-ios-barcode:before {
  content: "\ea13"; }

.ion-ios-barcode-outline:before {
  content: "\ea14"; }

.ion-ios-baseball:before {
  content: "\ea15"; }

.ion-ios-baseball-outline:before {
  content: "\ea16"; }

.ion-ios-basketball:before {
  content: "\ea17"; }

.ion-ios-basketball-outline:before {
  content: "\ea18"; }

.ion-ios-bell:before {
  content: "\ea19"; }

.ion-ios-bell-outline:before {
  content: "\ea1a"; }

.ion-ios-body:before {
  content: "\ea1b"; }

.ion-ios-body-outline:before {
  content: "\ea1c"; }

.ion-ios-bolt:before {
  content: "\ea1d"; }

.ion-ios-bolt-outline:before {
  content: "\ea1e"; }

.ion-ios-book:before {
  content: "\ea1f"; }

.ion-ios-bookmarks:before {
  content: "\ea20"; }

.ion-ios-bookmarks-outline:before {
  content: "\ea21"; }

.ion-ios-book-outline:before {
  content: "\ea22"; }

.ion-ios-box:before {
  content: "\ea23"; }

.ion-ios-box-outline:before {
  content: "\ea24"; }

.ion-ios-briefcase:before {
  content: "\ea25"; }

.ion-ios-briefcase-outline:before {
  content: "\ea26"; }

.ion-ios-browsers:before {
  content: "\ea27"; }

.ion-ios-browsers-outline:before {
  content: "\ea28"; }

.ion-ios-calculator:before {
  content: "\ea29"; }

.ion-ios-calculator-outline:before {
  content: "\ea2a"; }

.ion-ios-calendar:before {
  content: "\ea2b"; }

.ion-ios-calendar-outline:before {
  content: "\ea2c"; }

.ion-ios-camera:before {
  content: "\ea2d"; }

.ion-ios-camera-outline:before {
  content: "\ea2e"; }

.ion-ios-cart:before {
  content: "\ea2f"; }

.ion-ios-cart-outline:before {
  content: "\ea30"; }

.ion-ios-chatboxes:before {
  content: "\ea31"; }

.ion-ios-chatboxes-outline:before {
  content: "\ea32"; }

.ion-ios-chatbubble:before {
  content: "\ea33"; }

.ion-ios-chatbubble-outline:before {
  content: "\ea34"; }

.ion-ios-checkmark:before {
  content: "\ea35"; }

.ion-ios-checkmark-empty:before {
  content: "\ea36"; }

.ion-ios-checkmark-outline:before {
  content: "\ea37"; }

.ion-ios-circle-filled:before {
  content: "\ea38"; }

.ion-ios-circle-outline:before {
  content: "\ea39"; }

.ion-ios-clock:before {
  content: "\ea3a"; }

.ion-ios-clock-outline:before {
  content: "\ea3b"; }

.ion-ios-close:before {
  content: "\ea3c"; }

.ion-ios-close-empty:before {
  content: "\ea3d"; }

.ion-ios-close-outline:before {
  content: "\ea3e"; }

.ion-ios-cloud:before {
  content: "\ea3f"; }

.ion-ios-cloud-download:before {
  content: "\ea40"; }

.ion-ios-cloud-download-outline:before {
  content: "\ea41"; }

.ion-ios-cloud-outline:before {
  content: "\ea42"; }

.ion-ios-cloud-upload:before {
  content: "\ea43"; }

.ion-ios-cloud-upload-outline:before {
  content: "\ea44"; }

.ion-ios-cloudy:before {
  content: "\ea45"; }

.ion-ios-cloudy-night:before {
  content: "\ea46"; }

.ion-ios-cloudy-night-outline:before {
  content: "\ea47"; }

.ion-ios-cloudy-outline:before {
  content: "\ea48"; }

.ion-ios-cog:before {
  content: "\ea49"; }

.ion-ios-cog-outline:before {
  content: "\ea4a"; }

.ion-ios-color-filter:before {
  content: "\ea4b"; }

.ion-ios-color-filter-outline:before {
  content: "\ea4c"; }

.ion-ios-color-wand:before {
  content: "\ea4d"; }

.ion-ios-color-wand-outline:before {
  content: "\ea4e"; }

.ion-ios-compose:before {
  content: "\ea4f"; }

.ion-ios-compose-outline:before {
  content: "\ea50"; }

.ion-ios-contact:before {
  content: "\ea51"; }

.ion-ios-contact-outline:before {
  content: "\ea52"; }

.ion-ios-copy:before {
  content: "\ea53"; }

.ion-ios-copy-outline:before {
  content: "\ea54"; }

.ion-ios-crop:before {
  content: "\ea55"; }

.ion-ios-crop-strong:before {
  content: "\ea56"; }

.ion-ios-download:before {
  content: "\ea57"; }

.ion-ios-download-outline:before {
  content: "\ea58"; }

.ion-ios-drag:before {
  content: "\ea59"; }

.ion-ios-email:before {
  content: "\ea5a"; }

.ion-ios-email-outline:before {
  content: "\ea5b"; }

.ion-ios-eye:before {
  content: "\ea5c"; }

.ion-ios-eye-outline:before {
  content: "\ea5d"; }

.ion-ios-fastforward:before {
  content: "\ea5e"; }

.ion-ios-fastforward-outline:before {
  content: "\ea5f"; }

.ion-ios-filing:before {
  content: "\ea60"; }

.ion-ios-filing-outline:before {
  content: "\ea61"; }

.ion-ios-film:before {
  content: "\ea62"; }

.ion-ios-film-outline:before {
  content: "\ea63"; }

.ion-ios-flag:before {
  content: "\ea64"; }

.ion-ios-flag-outline:before {
  content: "\ea65"; }

.ion-ios-flame:before {
  content: "\ea66"; }

.ion-ios-flame-outline:before {
  content: "\ea67"; }

.ion-ios-flask:before {
  content: "\ea68"; }

.ion-ios-flask-outline:before {
  content: "\ea69"; }

.ion-ios-flower:before {
  content: "\ea6a"; }

.ion-ios-flower-outline:before {
  content: "\ea6b"; }

.ion-ios-folder:before {
  content: "\ea6c"; }

.ion-ios-folder-outline:before {
  content: "\ea6d"; }

.ion-ios-football:before {
  content: "\ea6e"; }

.ion-ios-football-outline:before {
  content: "\ea6f"; }

.ion-ios-game-controller-a:before {
  content: "\ea70"; }

.ion-ios-game-controller-a-outline:before {
  content: "\ea71"; }

.ion-ios-game-controller-b:before {
  content: "\ea72"; }

.ion-ios-game-controller-b-outline:before {
  content: "\ea73"; }

.ion-ios-gear:before {
  content: "\ea74"; }

.ion-ios-gear-outline:before {
  content: "\ea75"; }

.ion-ios-glasses:before {
  content: "\ea76"; }

.ion-ios-glasses-outline:before {
  content: "\ea77"; }

.ion-ios-grid-view:before {
  content: "\ea78"; }

.ion-ios-grid-view-outline:before {
  content: "\ea79"; }

.ion-ios-heart:before {
  content: "\ea7a"; }

.ion-ios-heart-outline:before {
  content: "\ea7b"; }

.ion-ios-help:before {
  content: "\ea7c"; }

.ion-ios-help-empty:before {
  content: "\ea7d"; }

.ion-ios-help-outline:before {
  content: "\ea7e"; }

.ion-ios-home:before {
  content: "\ea7f"; }

.ion-ios-home-outline:before {
  content: "\ea80"; }

.ion-ios-infinite:before {
  content: "\ea81"; }

.ion-ios-infinite-outline:before {
  content: "\ea82"; }

.ion-ios-information:before {
  content: "\ea83"; }

.ion-ios-information-empty:before {
  content: "\ea84"; }

.ion-ios-information-outline:before {
  content: "\ea85"; }

.ion-ios-ionic-outline:before {
  content: "\ea86"; }

.ion-ios-keypad:before {
  content: "\ea87"; }

.ion-ios-keypad-outline:before {
  content: "\ea88"; }

.ion-ios-lightbulb:before {
  content: "\ea89"; }

.ion-ios-lightbulb-outline:before {
  content: "\ea8a"; }

.ion-ios-list:before {
  content: "\ea8b"; }

.ion-ios-list-outline:before {
  content: "\ea8c"; }

.ion-ios-location:before {
  content: "\ea8d"; }

.ion-ios-location-outline:before {
  content: "\ea8e"; }

.ion-ios-locked:before {
  content: "\ea8f"; }

.ion-ios-locked-outline:before {
  content: "\ea90"; }

.ion-ios-loop:before {
  content: "\ea91"; }

.ion-ios-loop-strong:before {
  content: "\ea92"; }

.ion-ios-medical:before {
  content: "\ea93"; }

.ion-ios-medical-outline:before {
  content: "\ea94"; }

.ion-ios-medkit:before {
  content: "\ea95"; }

.ion-ios-medkit-outline:before {
  content: "\ea96"; }

.ion-ios-mic:before {
  content: "\ea97"; }

.ion-ios-mic-off:before {
  content: "\ea98"; }

.ion-ios-mic-outline:before {
  content: "\ea99"; }

.ion-ios-minus:before {
  content: "\ea9a"; }

.ion-ios-minus-empty:before {
  content: "\ea9b"; }

.ion-ios-minus-outline:before {
  content: "\ea9c"; }

.ion-ios-monitor:before {
  content: "\ea9d"; }

.ion-ios-monitor-outline:before {
  content: "\ea9e"; }

.ion-ios-moon:before {
  content: "\ea9f"; }

.ion-ios-moon-outline:before {
  content: "\eaa0"; }

.ion-ios-more:before {
  content: "\eaa1"; }

.ion-ios-more-outline:before {
  content: "\eaa2"; }

.ion-ios-musical-note:before {
  content: "\eaa3"; }

.ion-ios-musical-notes:before {
  content: "\eaa4"; }

.ion-ios-navigate:before {
  content: "\eaa5"; }

.ion-ios-navigate-outline:before {
  content: "\eaa6"; }

.ion-ios-nutrition:before {
  content: "\eaa7"; }

.ion-ios-nutrition-outline:before {
  content: "\eaa8"; }

.ion-ios-paper:before {
  content: "\eaa9"; }

.ion-ios-paper-outline:before {
  content: "\eaaa"; }

.ion-ios-paperplane:before {
  content: "\eaab"; }

.ion-ios-paperplane-outline:before {
  content: "\eaac"; }

.ion-ios-partlysunny:before {
  content: "\eaad"; }

.ion-ios-partlysunny-outline:before {
  content: "\eaae"; }

.ion-ios-pause:before {
  content: "\eaaf"; }

.ion-ios-pause-outline:before {
  content: "\eab0"; }

.ion-ios-paw:before {
  content: "\eab1"; }

.ion-ios-paw-outline:before {
  content: "\eab2"; }

.ion-ios-people:before {
  content: "\eab3"; }

.ion-ios-people-outline:before {
  content: "\eab4"; }

.ion-ios-person:before {
  content: "\eab5"; }

.ion-ios-personadd:before {
  content: "\eab6"; }

.ion-ios-personadd-outline:before {
  content: "\eab7"; }

.ion-ios-person-outline:before {
  content: "\eab8"; }

.ion-ios-photos:before {
  content: "\eab9"; }

.ion-ios-photos-outline:before {
  content: "\eaba"; }

.ion-ios-pie:before {
  content: "\eabb"; }

.ion-ios-pie-outline:before {
  content: "\eabc"; }

.ion-ios-pint:before {
  content: "\eabd"; }

.ion-ios-pint-outline:before {
  content: "\eabe"; }

.ion-ios-play:before {
  content: "\eabf"; }

.ion-ios-play-outline:before {
  content: "\eac0"; }

.ion-ios-plus:before {
  content: "\eac1"; }

.ion-ios-plus-empty:before {
  content: "\eac2"; }

.ion-ios-plus-outline:before {
  content: "\eac3"; }

.ion-ios-pricetag:before {
  content: "\eac4"; }

.ion-ios-pricetag-outline:before {
  content: "\eac5"; }

.ion-ios-pricetags:before {
  content: "\eac6"; }

.ion-ios-pricetags-outline:before {
  content: "\eac7"; }

.ion-ios-printer:before {
  content: "\eac8"; }

.ion-ios-printer-outline:before {
  content: "\eac9"; }

.ion-ios-pulse:before {
  content: "\eaca"; }

.ion-ios-pulse-strong:before {
  content: "\eacb"; }

.ion-ios-rainy:before {
  content: "\eacc"; }

.ion-ios-rainy-outline:before {
  content: "\eacd"; }

.ion-ios-recording:before {
  content: "\eace"; }

.ion-ios-recording-outline:before {
  content: "\eacf"; }

.ion-ios-redo:before {
  content: "\ead0"; }

.ion-ios-redo-outline:before {
  content: "\ead1"; }

.ion-ios-refresh:before {
  content: "\ead2"; }

.ion-ios-refresh-empty:before {
  content: "\ead3"; }

.ion-ios-refresh-outline:before {
  content: "\ead4"; }

.ion-ios-reload:before {
  content: "\ead5"; }

.ion-ios-reverse-camera:before {
  content: "\ead6"; }

.ion-ios-reverse-camera-outline:before {
  content: "\ead7"; }

.ion-ios-rewind:before {
  content: "\ead8"; }

.ion-ios-rewind-outline:before {
  content: "\ead9"; }

.ion-ios-rose:before {
  content: "\eada"; }

.ion-ios-rose-outline:before {
  content: "\eadb"; }

.ion-ios-search:before {
  content: "\eadc"; }

.ion-ios-search-strong:before {
  content: "\eadd"; }

.ion-ios-settings:before {
  content: "\eade"; }

.ion-ios-settings-strong:before {
  content: "\eadf"; }

.ion-ios-shuffle:before {
  content: "\eae0"; }

.ion-ios-shuffle-strong:before {
  content: "\eae1"; }

.ion-ios-skipbackward:before {
  content: "\eae2"; }

.ion-ios-skipbackward-outline:before {
  content: "\eae3"; }

.ion-ios-skipforward:before {
  content: "\eae4"; }

.ion-ios-skipforward-outline:before {
  content: "\eae5"; }

.ion-ios-snowy:before {
  content: "\eae6"; }

.ion-ios-speedometer:before {
  content: "\eae7"; }

.ion-ios-speedometer-outline:before {
  content: "\eae8"; }

.ion-ios-star:before {
  content: "\eae9"; }

.ion-ios-star-half:before {
  content: "\eaea"; }

.ion-ios-star-outline:before {
  content: "\eaeb"; }

.ion-ios-stopwatch:before {
  content: "\eaec"; }

.ion-ios-stopwatch-outline:before {
  content: "\eaed"; }

.ion-ios-sunny:before {
  content: "\eaee"; }

.ion-ios-sunny-outline:before {
  content: "\eaef"; }

.ion-ios-telephone:before {
  content: "\eaf0"; }

.ion-ios-telephone-outline:before {
  content: "\eaf1"; }

.ion-ios-tennisball:before {
  content: "\eaf2"; }

.ion-ios-tennisball-outline:before {
  content: "\eaf3"; }

.ion-ios-thunderstorm:before {
  content: "\eaf4"; }

.ion-ios-thunderstorm-outline:before {
  content: "\eaf5"; }

.ion-ios-time:before {
  content: "\eaf6"; }

.ion-ios-time-outline:before {
  content: "\eaf7"; }

.ion-ios-timer:before {
  content: "\eaf8"; }

.ion-ios-timer-outline:before {
  content: "\eaf9"; }

.ion-ios-toggle:before {
  content: "\eafa"; }

.ion-ios-toggle-outline:before {
  content: "\eafb"; }

.ion-ios-trash:before {
  content: "\eafc"; }

.ion-ios-trash-outline:before {
  content: "\eafd"; }

.ion-ios-undo:before {
  content: "\eafe"; }

.ion-ios-undo-outline:before {
  content: "\eaff"; }

.ion-ios-unlocked:before {
  content: "\eb00"; }

.ion-ios-unlocked-outline:before {
  content: "\eb01"; }

.ion-ios-upload:before {
  content: "\eb02"; }

.ion-ios-upload-outline:before {
  content: "\eb03"; }

.ion-ios-videocam:before {
  content: "\eb04"; }

.ion-ios-videocam-outline:before {
  content: "\eb05"; }

.ion-ios-volume-high:before {
  content: "\eb06"; }

.ion-ios-volume-low:before {
  content: "\eb07"; }

.ion-ios-wineglass:before {
  content: "\eb08"; }

.ion-ios-wineglass-outline:before {
  content: "\eb09"; }

.ion-ios-world:before {
  content: "\eb0a"; }

.ion-ios-world-outline:before {
  content: "\eb0b"; }

.ion-ipad:before {
  content: "\eb0c"; }

.ion-iphone:before {
  content: "\eb0d"; }

.ion-ipod:before {
  content: "\eb0e"; }

.ion-jet:before {
  content: "\eb0f"; }

.ion-key:before {
  content: "\eb10"; }

.ion-knife:before {
  content: "\eb11"; }

.ion-laptop:before {
  content: "\eb12"; }

.ion-leaf:before {
  content: "\eb13"; }

.ion-levels:before {
  content: "\eb14"; }

.ion-lightbulb:before {
  content: "\eb15"; }

.ion-link:before {
  content: "\eb16"; }

.ion-load-a:before {
  content: "\eb17"; }

.ion-load-b:before {
  content: "\eb18"; }

.ion-load-c:before {
  content: "\eb19"; }

.ion-load-d:before {
  content: "\eb1a"; }

.ion-location:before {
  content: "\eb1b"; }

.ion-lock-combination:before {
  content: "\eb1c"; }

.ion-locked:before {
  content: "\eb1d"; }

.ion-log-in:before {
  content: "\eb1e"; }

.ion-log-out:before {
  content: "\eb1f"; }

.ion-loop:before {
  content: "\eb20"; }

.ion-magnet:before {
  content: "\eb21"; }

.ion-male:before {
  content: "\eb22"; }

.ion-man:before {
  content: "\eb23"; }

.ion-map:before {
  content: "\eb24"; }

.ion-medkit:before {
  content: "\eb25"; }

.ion-merge:before {
  content: "\eb26"; }

.ion-mic-a:before {
  content: "\eb27"; }

.ion-mic-b:before {
  content: "\eb28"; }

.ion-mic-c:before {
  content: "\eb29"; }

.ion-minus:before {
  content: "\eb2a"; }

.ion-minus-circled:before {
  content: "\eb2b"; }

.ion-minus-round:before {
  content: "\eb2c"; }

.ion-model-s:before {
  content: "\eb2d"; }

.ion-monitor:before {
  content: "\eb2e"; }

.ion-more:before {
  content: "\eb2f"; }

.ion-mouse:before {
  content: "\eb30"; }

.ion-music-note:before {
  content: "\eb31"; }

.ion-navicon:before {
  content: "\eb32"; }

.ion-navicon-round:before {
  content: "\eb33"; }

.ion-navigate:before {
  content: "\eb34"; }

.ion-network:before {
  content: "\eb35"; }

.ion-no-smoking:before {
  content: "\eb36"; }

.ion-nuclear:before {
  content: "\eb37"; }

.ion-outlet:before {
  content: "\eb38"; }

.ion-paintbrush:before {
  content: "\eb39"; }

.ion-paintbucket:before {
  content: "\eb3a"; }

.ion-paper-airplane:before {
  content: "\eb3b"; }

.ion-paperclip:before {
  content: "\eb3c"; }

.ion-pause:before {
  content: "\eb3d"; }

.ion-person:before {
  content: "\eb3e"; }

.ion-person-add:before {
  content: "\eb3f"; }

.ion-person-stalker:before {
  content: "\eb40"; }

.ion-pie-graph:before {
  content: "\eb41"; }

.ion-pin:before {
  content: "\eb42"; }

.ion-pinpoint:before {
  content: "\eb43"; }

.ion-pizza:before {
  content: "\eb44"; }

.ion-plane:before {
  content: "\eb45"; }

.ion-planet:before {
  content: "\eb46"; }

.ion-play:before {
  content: "\eb47"; }

.ion-playstation:before {
  content: "\eb48"; }

.ion-plus:before {
  content: "\eb49"; }

.ion-plus-circled:before {
  content: "\eb4a"; }

.ion-plus-round:before {
  content: "\eb4b"; }

.ion-podium:before {
  content: "\eb4c"; }

.ion-pound:before {
  content: "\eb4d"; }

.ion-power:before {
  content: "\eb4e"; }

.ion-pricetag:before {
  content: "\eb4f"; }

.ion-pricetags:before {
  content: "\eb50"; }

.ion-printer:before {
  content: "\eb51"; }

.ion-pull-request:before {
  content: "\eb52"; }

.ion-qr-scanner:before {
  content: "\eb53"; }

.ion-quote:before {
  content: "\eb54"; }

.ion-radio-waves:before {
  content: "\eb55"; }

.ion-record:before {
  content: "\eb56"; }

.ion-refresh:before {
  content: "\eb57"; }

.ion-reply:before {
  content: "\eb58"; }

.ion-reply-all:before {
  content: "\eb59"; }

.ion-ribbon-a:before {
  content: "\eb5a"; }

.ion-ribbon-b:before {
  content: "\eb5b"; }

.ion-sad:before {
  content: "\eb5c"; }

.ion-sad-outline:before {
  content: "\eb5d"; }

.ion-scissors:before {
  content: "\eb5e"; }

.ion-search:before {
  content: "\eb5f"; }

.ion-settings:before {
  content: "\eb60"; }

.ion-share:before {
  content: "\eb61"; }

.ion-shuffle:before {
  content: "\eb62"; }

.ion-skip-backward:before {
  content: "\eb63"; }

.ion-skip-forward:before {
  content: "\eb64"; }

.ion-social-android:before {
  content: "\eb65"; }

.ion-social-android-outline:before {
  content: "\eb66"; }

.ion-social-angular:before {
  content: "\eb67"; }

.ion-social-angular-outline:before {
  content: "\eb68"; }

.ion-social-apple:before {
  content: "\eb69"; }

.ion-social-apple-outline:before {
  content: "\eb6a"; }

.ion-social-bitcoin:before {
  content: "\eb6b"; }

.ion-social-bitcoin-outline:before {
  content: "\eb6c"; }

.ion-social-buffer:before {
  content: "\eb6d"; }

.ion-social-buffer-outline:before {
  content: "\eb6e"; }

.ion-social-chrome:before {
  content: "\eb6f"; }

.ion-social-chrome-outline:before {
  content: "\eb70"; }

.ion-social-codepen:before {
  content: "\eb71"; }

.ion-social-codepen-outline:before {
  content: "\eb72"; }

.ion-social-css3:before {
  content: "\eb73"; }

.ion-social-css3-outline:before {
  content: "\eb74"; }

.ion-social-designernews:before {
  content: "\eb75"; }

.ion-social-designernews-outline:before {
  content: "\eb76"; }

.ion-social-dribbble:before {
  content: "\eb77"; }

.ion-social-dribbble-outline:before {
  content: "\eb78"; }

.ion-social-dropbox:before {
  content: "\eb79"; }

.ion-social-dropbox-outline:before {
  content: "\eb7a"; }

.ion-social-euro:before {
  content: "\eb7b"; }

.ion-social-euro-outline:before {
  content: "\eb7c"; }

.ion-social-facebook:before {
  content: "\eb7d"; }

.ion-social-facebook-outline:before {
  content: "\eb7e"; }

.ion-social-foursquare:before {
  content: "\eb7f"; }

.ion-social-foursquare-outline:before {
  content: "\eb80"; }

.ion-social-freebsd-devil:before {
  content: "\eb81"; }

.ion-social-github:before {
  content: "\eb82"; }

.ion-social-github-outline:before {
  content: "\eb83"; }

.ion-social-google:before {
  content: "\eb84"; }

.ion-social-google-outline:before {
  content: "\eb85"; }

.ion-social-googleplus:before {
  content: "\eb86"; }

.ion-social-googleplus-outline:before {
  content: "\eb87"; }

.ion-social-hackernews:before {
  content: "\eb88"; }

.ion-social-hackernews-outline:before {
  content: "\eb89"; }

.ion-social-html5:before {
  content: "\eb8a"; }

.ion-social-html5-outline:before {
  content: "\eb8b"; }

.ion-social-instagram:before {
  content: "\eb8c"; }

.ion-social-instagram-outline:before {
  content: "\eb8d"; }

.ion-social-javascript:before {
  content: "\eb8e"; }

.ion-social-javascript-outline:before {
  content: "\eb8f"; }

.ion-social-linkedin:before {
  content: "\eb90"; }

.ion-social-linkedin-outline:before {
  content: "\eb91"; }

.ion-social-markdown:before {
  content: "\eb92"; }

.ion-social-nodejs:before {
  content: "\eb93"; }

.ion-social-octocat:before {
  content: "\eb94"; }

.ion-social-pinterest:before {
  content: "\eb95"; }

.ion-social-pinterest-outline:before {
  content: "\eb96"; }

.ion-social-python:before {
  content: "\eb97"; }

.ion-social-reddit:before {
  content: "\eb98"; }

.ion-social-reddit-outline:before {
  content: "\eb99"; }

.ion-social-rss:before {
  content: "\eb9a"; }

.ion-social-rss-outline:before {
  content: "\eb9b"; }

.ion-social-sass:before {
  content: "\eb9c"; }

.ion-social-skype:before {
  content: "\eb9d"; }

.ion-social-skype-outline:before {
  content: "\eb9e"; }

.ion-social-snapchat:before {
  content: "\eb9f"; }

.ion-social-snapchat-outline:before {
  content: "\eba0"; }

.ion-social-tumblr:before {
  content: "\eba1"; }

.ion-social-tumblr-outline:before {
  content: "\eba2"; }

.ion-social-tux:before {
  content: "\eba3"; }

.ion-social-twitch:before {
  content: "\eba4"; }

.ion-social-twitch-outline:before {
  content: "\eba5"; }

.ion-social-twitter:before {
  content: "\eba6"; }

.ion-social-twitter-outline:before {
  content: "\eba7"; }

.ion-social-usd:before {
  content: "\eba8"; }

.ion-social-usd-outline:before {
  content: "\eba9"; }

.ion-social-vimeo:before {
  content: "\ebaa"; }

.ion-social-vimeo-outline:before {
  content: "\ebab"; }

.ion-social-whatsapp:before {
  content: "\ebac"; }

.ion-social-whatsapp-outline:before {
  content: "\ebad"; }

.ion-social-windows:before {
  content: "\ebae"; }

.ion-social-windows-outline:before {
  content: "\ebaf"; }

.ion-social-wordpress:before {
  content: "\ebb0"; }

.ion-social-wordpress-outline:before {
  content: "\ebb1"; }

.ion-social-yahoo:before {
  content: "\ebb2"; }

.ion-social-yahoo-outline:before {
  content: "\ebb3"; }

.ion-social-yen:before {
  content: "\ebb4"; }

.ion-social-yen-outline:before {
  content: "\ebb5"; }

.ion-social-youtube:before {
  content: "\ebb6"; }

.ion-social-youtube-outline:before {
  content: "\ebb7"; }

.ion-soup-can:before {
  content: "\ebb8"; }

.ion-soup-can-outline:before {
  content: "\ebb9"; }

.ion-speakerphone:before {
  content: "\ebba"; }

.ion-speedometer:before {
  content: "\ebbb"; }

.ion-spoon:before {
  content: "\ebbc"; }

.ion-star:before {
  content: "\ebbd"; }

.ion-stats-bars:before {
  content: "\ebbe"; }

.ion-steam:before {
  content: "\ebbf"; }

.ion-stop:before {
  content: "\ebc0"; }

.ion-thermometer:before {
  content: "\ebc1"; }

.ion-thumbsdown:before {
  content: "\ebc2"; }

.ion-thumbsup:before {
  content: "\ebc3"; }

.ion-toggle:before {
  content: "\ebc4"; }

.ion-toggle-filled:before {
  content: "\ebc5"; }

.ion-transgender:before {
  content: "\ebc6"; }

.ion-trash-a:before {
  content: "\ebc7"; }

.ion-trash-b:before {
  content: "\ebc8"; }

.ion-trophy:before {
  content: "\ebc9"; }

.ion-tshirt:before {
  content: "\ebca"; }

.ion-tshirt-outline:before {
  content: "\ebcb"; }

.ion-umbrella:before {
  content: "\ebcc"; }

.ion-university:before {
  content: "\ebcd"; }

.ion-unlocked:before {
  content: "\ebce"; }

.ion-upload:before {
  content: "\ebcf"; }

.ion-usb:before {
  content: "\ebd0"; }

.ion-videocamera:before {
  content: "\ebd1"; }

.ion-volume-high:before {
  content: "\ebd2"; }

.ion-volume-low:before {
  content: "\ebd3"; }

.ion-volume-medium:before {
  content: "\ebd4"; }

.ion-volume-mute:before {
  content: "\ebd5"; }

.ion-wand:before {
  content: "\ebd6"; }

.ion-waterdrop:before {
  content: "\ebd7"; }

.ion-wifi:before {
  content: "\ebd8"; }

.ion-wineglass:before {
  content: "\ebd9"; }

.ion-woman:before {
  content: "\ebda"; }

.ion-wrench:before {
  content: "\ebdb"; }

.ion-xbox:before {
  content: "\ebdc"; }

.nav > li > a:hover {
  text-decoration: none;
  background-color: white !important;
  opacity: 1 !important;
  color: #3a5f70 !important;
  font-weight: 700 !important;
  border-radius: 10px; }

.top-header {
  background-color: #3a5f70; }
  .top-header nav {
    margin: 0px !important; }
  .top-header .navbar .container-fluid ul li {
    margin-right: 10px; }
  .top-header .navbar .container-fluid ul li a {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 10px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) {
    border-radius: 4px;
    height: 29px;
    margin-top: 8px;
    background-color: #f9ab1b; }
  .top-header .navbar .container-fluid ul li:nth-child(3) div {
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 70px;
    white-space: nowrap;
    overflow: hidden; }
  .top-header .navbar .container-fluid ul li:nth-child(3) span {
    margin-right: 6px;
    top: -9px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) span.next {
    position: absolute;
    top: -6px;
    right: 15px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .top-header .navbar .container-fluid ul li:nth-child(3) div {
    position: relative;
    top: -8px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) a {
    opacity: 0.8;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000; }

.bottom-header {
  background-color: #2d4a57; }
  .bottom-header nav {
    margin: 0px !important; }
  .bottom-header .navbar .container-fluid ul li a {
    opacity: 0.7;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid ul li:nth-child(1) a {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid .navbar-right li a {
    opacity: 1;
    color: white; }
  .bottom-header .navbar .container-fluid .navbar-header a {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid .nav ul li a:hover {
    background: red; }

.accordian-menu {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 1069px;
  background-image: -webkit-linear-gradient(282deg, #3a5f70, #243542);
  background-image: -o-linear-gradient(282deg, #3a5f70, #243542);
  background-image: linear-gradient(168deg, #3a5f70, #243542); }
  .accordian-menu .search input {
    width: 229px;
    height: 40px;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: 16px;
    margin-top: 22px;
    padding: 15px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: #ffffff; }
  .accordian-menu .in-play {
    position: relative; }
    .accordian-menu .in-play .badge-play {
      position: absolute;
      top: -3px;
      left: 196px; }
      .accordian-menu .in-play .badge-play badge {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500; }
    .accordian-menu .in-play h3 {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
      .accordian-menu .in-play h3 span {
        margin-left: 12px;
        margin-right: 8px; }
  .accordian-menu .pinned {
    position: relative; }
    .accordian-menu .pinned .badge-pinned {
      position: absolute;
      top: -3px;
      left: 196px; }
      .accordian-menu .pinned .badge-pinned badge {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500; }
    .accordian-menu .pinned h3 {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
      .accordian-menu .pinned h3 span {
        margin-left: 12px;
        margin-right: 8px; }
  .accordian-menu .market-head h3 {
    opacity: 0.7;
    font-family: WorkSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 19px; }
  .accordian-menu hr {
    opacity: .2; }
  .accordian-menu .game-option .games li {
    display: block;
    font-family: WorkSans;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-left: 12px; }
    .accordian-menu .game-option .games li img {
      margin-right: 8px; }
    .accordian-menu .game-option .games li a {
      color: white; }
    .accordian-menu .game-option .games li badge {
      position: relative;
      top: -1px;
      left: 46%;
      width: 51px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      font-family: WorkSans;
      font-size: 12px;
      font-weight: 500; }

.container-main {
  width: calc(100% - 264px);
  display: inline-block;
  background-color: #f2f3f7;
  vertical-align: top; }
  .container-main .navbar .container-fluid ul li {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
    .container-main .navbar .container-fluid ul li a {
      color: black;
      padding: 8px 13px 8px 13px;
      margin-top: 5px; }
  .container-main .navbar .container-fluid ul li:nth-child(1) a {
    border-radius: 20px !important;
    background-color: #496d7d !important;
    color: white !important;
    padding: 8px 13px 8px 13px;
    margin-top: 5px; }
  .container-main .navbar-default {
    background: white;
    width: 74%; }
  .container-main .in-play-tag {
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #21394b; }
  .container-main .flex-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .container-main .row h5 {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .container-main .col-sm-4 {
    background: white;
    padding: 0;
    -webkit-box-shadow: 9px 6px 27px -14px;
    box-shadow: 9px 6px 27px -14px;
    /* margin: 6px; */
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 20px; }
    .container-main .col-sm-4 hr {
      margin-top: 15px;
      margin-bottom: 15px; }
    .container-main .col-sm-4 .games-heading {
      color: white;
      background: #3a5f70;
      border-radius: 20px 20px 0px 0px; }
      .container-main .col-sm-4 .games-heading .heading {
        display: inline-block;
        width: 58%; }
        .container-main .col-sm-4 .games-heading .heading span img {
          height: 16px;
          width: 16px;
          margin-left: 14px;
          margin-right: 4px;
          /* padding-top: 13px; */
          margin-top: 13px;
          margin-bottom: 11px; }
      .container-main .col-sm-4 .games-heading .rating-1 {
        display: inline-block;
        width: 9%;
        text-align: center; }
      .container-main .col-sm-4 .games-heading .rating-2 {
        display: inline-block;
        width: 9%;
        text-align: center; }
      .container-main .col-sm-4 .games-heading .rating-x {
        display: inline-block;
        width: 15%;
        text-align: center; }
  .container-main .col-sm-4 .games-heading-row-1 .teams {
    display: inline-block;
    width: 38%; }
    .container-main .col-sm-4 .games-heading-row-1 .teams .team-a {
      margin-top: 14px;
      margin-bottom: 6px; }
      .container-main .col-sm-4 .games-heading-row-1 .teams .team-a .live {
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 600;
        color: #26333d; }
    .container-main .col-sm-4 .games-heading-row-1 .teams .team-b span {
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 600;
      color: #26333d; }
  .container-main .col-sm-4 .games-heading-row-1 .team-score {
    display: inline-block;
    width: 16%; }
    .container-main .col-sm-4 .games-heading-row-1 .team-score .score-a {
      margin-top: 14px;
      margin-bottom: 6px;
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      color: #26333d; }
    .container-main .col-sm-4 .games-heading-row-1 .team-score .score-b {
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      color: #26333d; }
  .container-main .col-sm-4 .games-heading-row-1 .teams-rating-1, .container-main .col-sm-4 .games-heading-row-1 .teams-rating-x, .container-main .col-sm-4 .games-heading-row-1 .teams-rating-2 {
    display: inline-block;
    width: 13%;
    margin-bottom: 3px;
    vertical-align: top;
    margin-top: 11px;
    /* background: red; */
    border-radius: 2px;
    background-color: #eaebef;
    height: 48px;
    text-align: center;
    padding: 18px 5px;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #26333d; }
  .container-main .col-sm-3 {
    position: relative;
    top: -86px;
    left: 57px;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 20px; }
    .container-main .col-sm-3 .bet-slip {
      background-color: #a6bccf;
      border-radius: 20px 20px 0px 0px; }
      .container-main .col-sm-3 .bet-slip h4 {
        margin: 0;
        padding: 0;
        padding: 13px;
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f5460; }
    .container-main .col-sm-3 .available-bets {
      font-family: AvenirNext;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #8e8e8e;
      margin-top: 7px; }

.btn.btn-outline {
  white-space: normal;
  border-width: 1px; }
  .btn.btn-outline:not(:hover) {
    background-color: transparent; }
  .btn.btn-outline.btn-default:not(:hover) {
    color: #333; }
  .btn.btn-outline.btn-primary:not(:hover) {
    color: #337ab7; }
  .btn.btn-outline.btn-secondary:not(:hover) {
    color: #5cb85c; }
  .btn.btn-outline.btn-danger:not(:hover) {
    color: #d9534f; }
  .btn.btn-outline.btn-success:not(:hover) {
    color: #5cb85c; }
  .btn.btn-outline.btn-info:not(:hover) {
    color: #5bc0de; }
  .btn.btn-outline.btn-warning:not(:hover) {
    color: #f0ad4e; }

.btn.btn-clear {
  background: none;
  border-color: transparent; }
  .btn.btn-clear.btn-default {
    color: #333; }
  .btn.btn-clear.btn-primary {
    color: #337ab7; }
  .btn.btn-clear.btn-secondary {
    color: #5cb85c; }
  .btn.btn-clear.btn-danger {
    color: #d9534f; }
  .btn.btn-clear.btn-success {
    color: #5cb85c; }
  .btn.btn-clear.btn-info {
    color: #5bc0de; }
  .btn.btn-clear.btn-warning {
    color: #f0ad4e; }

/**
 * Grid Flex Box
 * --------------------------------------------------
 * Using flexbox for the grid, inspired by Philip Walton:
 * http://philipwalton.github.io/solved-by-flexbox/demos/grids/
 * By default each .flex-col within a .flex-row will evenly take up
 * available width, and the height of each .flex-col with take
 * up the height of the tallest .flex-col in the same .flex-row.
 */
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%; }

.flex-row-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-row-no-padding {
  padding: 0; }
  .flex-row-no-padding > .flex-col {
    padding: 0; }

.flex-row + .flex-row {
  margin-top: -5px;
  padding-top: 0; }

.flex-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%; }

/* Vertically Align Columns */
/* .flex-row-* vertically aligns every .flex-col in the .flex-row */
.flex-row-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.flex-row-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.flex-row-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-row-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

.flex-row-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline; }

/* .flex-col-* vertically aligns an individual .flex-col */
.flex-col-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-col-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.flex-col-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

/* Column Offsets */
.flex-col-offset-10 {
  margin-left: 10%; }

.flex-col-offset-20 {
  margin-left: 20%; }

.flex-col-offset-25 {
  margin-left: 25%; }

.flex-col-offset-33, .flex-col-offset-34 {
  margin-left: 33.3333%; }

.flex-col-offset-50 {
  margin-left: 50%; }

.flex-col-offset-66, .flex-col-offset-67 {
  margin-left: 66.6666%; }

.flex-col-offset-75 {
  margin-left: 75%; }

.flex-col-offset-80 {
  margin-left: 80%; }

.flex-col-offset-90 {
  margin-left: 90%; }

/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */
.flex-col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; }

.flex-col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.flex-col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.flex-col-33, .flex-col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.flex-col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%; }

.flex-col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.flex-col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%; }

.flex-col-66, .flex-col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.flex-col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.flex-col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

.flex-col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%; }

.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

/* Responsive Grid Classes */
/* Adding a class of responsive-X to a row */
/* will trigger the flex-direction to */
/* change to column and add some margin */
/* to any columns in the row for clearity */
@media (max-width: 767px) {
  .responsive-sm {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .responsive-sm .col, .responsive-sm .col-10, .responsive-sm .col-20, .responsive-sm .col-25, .responsive-sm .col-33, .responsive-sm .col-34, .responsive-sm .col-50, .responsive-sm .col-66, .responsive-sm .col-67, .responsive-sm .col-75, .responsive-sm .col-80, .responsive-sm .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 992px) {
  .responsive-md {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .responsive-md .col, .responsive-md .col-10, .responsive-md .col-20, .responsive-md .col-25, .responsive-md .col-33, .responsive-md .col-34, .responsive-md .col-50, .responsive-md .col-66, .responsive-md .col-67, .responsive-md .col-75, .responsive-md .col-80, .responsive-md .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 1023px) {
  .responsive-lg {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .responsive-lg .col, .responsive-lg .col-10, .responsive-lg .col-20, .responsive-lg .col-25, .responsive-lg .col-33, .responsive-lg .col-34, .responsive-lg .col-50, .responsive-lg .col-66, .responsive-lg .col-67, .responsive-lg .col-75, .responsive-lg .col-80, .responsive-lg .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 15px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

.nav > li > a:hover {
  text-decoration: none;
  background-color: white !important;
  opacity: 1 !important;
  color: #3a5f70 !important;
  font-weight: 700 !important;
  border-radius: 10px; }

.top-header {
  background-color: #3a5f70; }
  .top-header nav {
    margin: 0px !important; }
  .top-header .navbar .container-fluid ul li {
    margin-right: 10px; }
  .top-header .navbar .container-fluid ul li a {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 10px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) {
    border-radius: 4px;
    height: 29px;
    margin-top: 8px;
    background-color: #f9ab1b; }
  .top-header .navbar .container-fluid ul li:nth-child(3) div {
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 70px;
    white-space: nowrap;
    overflow: hidden; }
  .top-header .navbar .container-fluid ul li:nth-child(3) span {
    margin-right: 6px;
    top: -9px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) span.next {
    position: absolute;
    top: -6px;
    right: 15px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .top-header .navbar .container-fluid ul li:nth-child(3) div {
    position: relative;
    top: -8px; }
  .top-header .navbar .container-fluid ul li:nth-child(3) a {
    opacity: 0.8;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000; }

.bottom-header {
  background-color: #2d4a57; }
  .bottom-header nav {
    margin: 0px !important; }
  .bottom-header .navbar .container-fluid ul li a {
    opacity: 0.7;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid ul li:nth-child(1) a {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid .navbar-right li a {
    opacity: 1;
    color: white; }
  .bottom-header .navbar .container-fluid .navbar-header a {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .bottom-header .navbar .container-fluid .nav ul li a:hover {
    background: red; }

.accordian-menu {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 1069px;
  background-image: -webkit-linear-gradient(282deg, #3a5f70, #243542);
  background-image: -o-linear-gradient(282deg, #3a5f70, #243542);
  background-image: linear-gradient(168deg, #3a5f70, #243542); }
  .accordian-menu .search input {
    width: 229px;
    height: 40px;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: 16px;
    margin-top: 22px;
    padding: 15px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: #ffffff; }
  .accordian-menu .in-play {
    position: relative; }
    .accordian-menu .in-play .badge-play {
      position: absolute;
      top: -3px;
      left: 196px; }
      .accordian-menu .in-play .badge-play badge {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500; }
    .accordian-menu .in-play h3 {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
      .accordian-menu .in-play h3 span {
        margin-left: 12px;
        margin-right: 8px; }
  .accordian-menu .pinned {
    position: relative; }
    .accordian-menu .pinned .badge-pinned {
      position: absolute;
      top: -3px;
      left: 196px; }
      .accordian-menu .pinned .badge-pinned badge {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500; }
    .accordian-menu .pinned h3 {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
      .accordian-menu .pinned h3 span {
        margin-left: 12px;
        margin-right: 8px; }
  .accordian-menu .market-head h3 {
    opacity: 0.7;
    font-family: WorkSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 19px; }
  .accordian-menu hr {
    opacity: .2; }
  .accordian-menu .game-option .games li {
    display: block;
    font-family: WorkSans;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-left: 12px; }
    .accordian-menu .game-option .games li img {
      margin-right: 8px; }
    .accordian-menu .game-option .games li a {
      color: white; }
    .accordian-menu .game-option .games li badge {
      position: relative;
      top: -1px;
      left: 46%;
      width: 51px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      font-family: WorkSans;
      font-size: 12px;
      font-weight: 500; }

.container-main {
  width: calc(100% - 264px);
  display: inline-block;
  background-color: #f2f3f7;
  vertical-align: top; }
  .container-main .navbar .container-fluid ul li {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
    .container-main .navbar .container-fluid ul li a {
      color: black;
      padding: 8px 13px 8px 13px;
      margin-top: 5px; }
  .container-main .navbar .container-fluid ul li:nth-child(1) a {
    border-radius: 20px !important;
    background-color: #496d7d !important;
    color: white !important;
    padding: 8px 13px 8px 13px;
    margin-top: 5px; }
  .container-main .navbar-default {
    background: white;
    width: 74%; }
  .container-main .in-play-tag {
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #21394b; }
  .container-main .flex-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .container-main .row h5 {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff; }
  .container-main .col-sm-4 {
    background: white;
    padding: 0;
    -webkit-box-shadow: 9px 6px 27px -14px;
    box-shadow: 9px 6px 27px -14px;
    /* margin: 6px; */
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 20px; }
    .container-main .col-sm-4 hr {
      margin-top: 15px;
      margin-bottom: 15px; }
    .container-main .col-sm-4 .games-heading {
      color: white;
      background: #3a5f70;
      border-radius: 20px 20px 0px 0px; }
      .container-main .col-sm-4 .games-heading .heading {
        display: inline-block;
        width: 58%; }
        .container-main .col-sm-4 .games-heading .heading span img {
          height: 16px;
          width: 16px;
          margin-left: 14px;
          margin-right: 4px;
          /* padding-top: 13px; */
          margin-top: 13px;
          margin-bottom: 11px; }
      .container-main .col-sm-4 .games-heading .rating-1 {
        display: inline-block;
        width: 9%;
        text-align: center; }
      .container-main .col-sm-4 .games-heading .rating-2 {
        display: inline-block;
        width: 9%;
        text-align: center; }
      .container-main .col-sm-4 .games-heading .rating-x {
        display: inline-block;
        width: 15%;
        text-align: center; }
  .container-main .col-sm-4 .games-heading-row-1 .teams {
    display: inline-block;
    width: 38%; }
    .container-main .col-sm-4 .games-heading-row-1 .teams .team-a {
      margin-top: 14px;
      margin-bottom: 6px; }
      .container-main .col-sm-4 .games-heading-row-1 .teams .team-a .live {
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 600;
        color: #26333d; }
    .container-main .col-sm-4 .games-heading-row-1 .teams .team-b span {
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 600;
      color: #26333d; }
  .container-main .col-sm-4 .games-heading-row-1 .team-score {
    display: inline-block;
    width: 16%; }
    .container-main .col-sm-4 .games-heading-row-1 .team-score .score-a {
      margin-top: 14px;
      margin-bottom: 6px;
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      color: #26333d; }
    .container-main .col-sm-4 .games-heading-row-1 .team-score .score-b {
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      color: #26333d; }
  .container-main .col-sm-4 .games-heading-row-1 .teams-rating-1, .container-main .col-sm-4 .games-heading-row-1 .teams-rating-x, .container-main .col-sm-4 .games-heading-row-1 .teams-rating-2 {
    display: inline-block;
    width: 13%;
    margin-bottom: 3px;
    vertical-align: top;
    margin-top: 11px;
    /* background: red; */
    border-radius: 2px;
    background-color: #eaebef;
    height: 48px;
    text-align: center;
    padding: 18px 5px;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #26333d; }
  .container-main .col-sm-3 {
    position: relative;
    top: -86px;
    left: 57px;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 20px; }
    .container-main .col-sm-3 .bet-slip {
      background-color: #a6bccf;
      border-radius: 20px 20px 0px 0px; }
      .container-main .col-sm-3 .bet-slip h4 {
        margin: 0;
        padding: 0;
        padding: 13px;
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f5460; }
    .container-main .col-sm-3 .available-bets {
      font-family: AvenirNext;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #8e8e8e;
      margin-top: 7px; }
