
.nav > li > a:hover {
    text-decoration: none;
    background-color: white !important;
    opacity: 1 !important;
    color:#3a5f70 !important;
   font-weight: 700 !important;
   

    border-radius: 10px;

}

.top-header {
     background-color: #3a5f70;

     & nav{
         margin: 0px !important;
     }
     .navbar .container-fluid ul li{
   
        margin-right: 10px;
     }
   .navbar .container-fluid ul li a{
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 10px;
  
   }
   .navbar .container-fluid ul li:nth-child(3){
    border-radius: 4px;
    height: 29px;

    margin-top: 8px;
    background-color: #f9ab1b;
  
   }
   .navbar .container-fluid ul li:nth-child(3) div{

    display:inline-block;
    text-overflow: ellipsis;
    width:70px;
    white-space: nowrap;
    overflow: hidden;
   }
   .navbar .container-fluid ul li:nth-child(3) span{
    margin-right: 6px;
    top: -9px;
   }
   .navbar .container-fluid ul li:nth-child(3) span.next{
    
    position: absolute;
    top: -6px;
    right: 15px;
    transform: rotate(90deg);
   }
   .navbar .container-fluid ul li:nth-child(3) div{
    position: relative;
    top: -8px;
   }
   .navbar .container-fluid ul li:nth-child(3) a{
    opacity: 0.8;
    font-family: WorkSans; 
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  
   }

  
}
.bottom-header{
    background-color: #2d4a57;


& nav{
        margin: 0px !important;
    }
    .navbar .container-fluid ul li a{

        opacity: 0.7;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
    }
    .navbar .container-fluid  ul li:nth-child(1) a{
        font-family: AvenirNext;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
    }
    .navbar .container-fluid .navbar-right li a{
opacity: 1;
color: white;
    }

    .navbar .container-fluid .navbar-header a{

    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
   
}
.navbar .container-fluid .nav ul li a:hover{
    background: red;;
}
}
.accordian-menu{
    position: relative;
    display: inline-block;
    width: 260px;
    height: 1069px;

    background-image: linear-gradient(168deg, #3a5f70, #243542);
    
    .search input{
        width: 229px;
    height: 40px;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: 16px;
    margin-top: 22px;
    padding: 15px;
    text-overflow: ellipsis;
    background-color: #ffffff;
    }
    .in-play{
        position:relative;
        .badge-play{
            position: absolute;
            top: -3px;
            left: 196px;
        
            & badge{
                background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    font-family: WorkSans;
    font-size: 12px;
    font-weight: 500;

            }
        }
        & h3{
            font-family: AvenirNext;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
          
            & span{
                margin-left: 12px;
                margin-right: 8px;
            
            }

          
        }
    }
    .pinned{
        position:relative;
        .badge-pinned{
            position: absolute;
            top: -3px;
            left: 196px;
            & badge{
                background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    font-family: WorkSans;
    font-size: 12px;
    font-weight: 500;

            }
        }
        & h3{
            font-family: AvenirNext;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
           
            & span{
                margin-left: 12px;
                margin-right: 8px;
            
            }

          
        }
    }
    .market-head h3{    opacity: 0.7;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-left: 19px;

    }
    & hr{
        opacity:.2;
    }
    .game-option .games li{
        display: block;
    font-family: WorkSans;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-left:12px;
    
    & img{
        margin-right: 8px;

    }
    
    & a{
        color:white;
    }
    & badge{
        position: relative;
        top: -1px;
        left: 46%;
        width: 51px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 500;
    }
    }
}
.container-main{
    width: calc(100% - 264px);
    display: inline-block;
    background-color: #f2f3f7;
    vertical-align: top;

.navbar .container-fluid ul li{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    & a{
        color:black;
        padding: 8px 13px 8px 13px;
    margin-top: 5px;
    }
}
.navbar .container-fluid ul li:nth-child(1) a{    border-radius: 20px !important;
    background-color: #496d7d !important;
    color: white !important;
    padding: 8px 13px 8px 13px;
    margin-top: 5px;
}
.navbar-default{
    background: white;
    width: 74%;

}
.in-play-tag{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #21394b;
}
.flex-numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

  
}
.row  h5{
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  
   }
   .col-sm-4 {
    background: white;
    padding: 0;
    box-shadow: 9px 6px 27px -14px;
    /* margin: 6px; */
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;   
    padding-bottom: 20px;

     & hr{
         margin-top: 15px;
         margin-bottom: 15px;
     }
    
    .games-heading{
        color: white;
        background: #3a5f70;
        border-radius: 20px 20px 0px 0px;
        
.heading{
    display: inline-block;
    width: 58%;
    & span img{
        height: 16px;
        width: 16px;
        margin-left: 14px;
        margin-right: 4px;
        /* padding-top: 13px; */
        margin-top: 13px;
        margin-bottom: 11px;
    }
}
.rating-1{
    display: inline-block;
    width: 9%;
    text-align:center;
}
.rating-2{
    display: inline-block;
    width: 9%;
    text-align:center;
}
.rating-x{
    display: inline-block;
    width: 15%;
    text-align:center;
}
   }
   }
   .col-sm-4 .games-heading-row-1{
      
       .teams{
        display: inline-block;
        width: 38%;
        .team-a{
            margin-top: 14px;
            margin-bottom: 6px;
        .live{
            font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    color: #26333d;
        }
        }
        .team-b span{
            font-family: AvenirNext;
            font-size: 12px;
            font-weight: 600;
            color: #26333d;
        }
       }
       .team-score{
        display: inline-block;
            width: 16%;
        .score-a{
            margin-top: 14px;
            margin-bottom: 6px;
            font-family: AvenirNext;
            font-size: 12px;
            font-weight: 500;
            color: #26333d;
           
        }
        .score-b{
            font-family: AvenirNext;
            font-size: 12px;
            font-weight: 500;
            color: #26333d;
        }
       }
       .teams-rating-1 ,.teams-rating-x,.teams-rating-2{
        display: inline-block;
      
    width: 13%;
    margin-bottom: 3px;
    vertical-align: top;
    margin-top: 11px;
    /* background: red; */
    border-radius: 2px;
    background-color: #eaebef;
    height: 48px;
    text-align: center;
    padding: 18px 5px;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #26333d;
       }
   }
   .col-sm-3{
    position: relative;
    top: -86px;
    left: 57px;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 20px;
    .bet-slip{
        background-color: #a6bccf;
    border-radius: 20px 20px 0px 0px;
    & h4{
        margin: 0;
    padding: 0;
    padding: 13px;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f5460;
    }
    }
    .available-bets{
        font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #8e8e8e;
    margin-top: 7px;
    }
    
   }
}
